<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8" xmlns:th="http://www.thymeleaf.org">
    <title>List of Vets</title>
</head>
<body>
<!--/*@thymesVar id="vet" type="com.example.springpetclinic.model.Vet"*/-->
<h2>Veterinarians</h2>

<table class="table table-striped" id="vets">
    <thead>
    <tr>
        <th>Name</th>
        <th>Specialties</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="vet : ${vets}">
        <td th:text="${vet?.id}">1</td>
        <td th:text="${vet?.firstName}">Joe</td>
        <td th:text="${vet?.lastName}">Buck</td>
    </tr>
    </tbody>
</table>
</body>
</html>